body {
    background: rgb(165, 209, 211);
  }

.box1 {
    align-items: center;
    display: flex; 
    flex-direction: row;
    flex-flow: row wrap;
    height: 6rem;
    justify-content: center;
    margin: 1rem; 
    padding: 0rem;
    width: 75;
}

.entry{
    /*box-sizing: border-box;*/
    border-bottom-color: rgb(120, 202, 202);
    border-radius: 12px;
    border-right-color: rgb(120, 202, 202);
    color: rgb(24, 78, 78);
    cursor: pointer;
    font-family: 'comfortaa', sans-serif;
    font-size: 20px;
    height: 2rem;
    width: 25rem;
}

.entry:hover{
  background-color: rgb(238, 225, 225);
}

.generateBtn {
    background-color: rgb(16, 115, 145);
    border-left: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
    color: #fff;
    cursor: pointer;
    font-family: 'comfortaa', sans-serif;
    font-size: 24px;
    margin-left: 1rem;
    outline: none;
    text-align: center;
    text-decoration: none;
  }
  
  .generateBtn:hover {
    background-color: rgb(15, 99, 124)
  }
  
  .generateBtn:active {
    background-color: rgb(8, 83, 105);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .divContainer {
    align-items: center;
    background-color: whitesmoke;
    display: flex; 
    flex-direction: row;
    flex-flow: row wrap;
    height: 10rem;
    margin: 1rem;
    width: 50rem;
  }
  